.box{
    display: flex;
    flex: right;
    justify-content: center;
    height: 100vh;
    padding-top: 100px ;
    padding: 120px 50px 0px;
    height: fit-content !important;
    margin-bottom: 10vh;
}
.heading{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 3vw;
    background-color: #480248;
    box-shadow: 1vw 2vh #4700ff;
    border-radius: 20px;
}
.title_HackMoreish {
    padding-left: 2vw;
    line-height: 10vw !important;
    font-size: 10vw;
}
.heading2{
    padding-bottom: 20px;
    padding-left: 20px;
    align-items: center;
    
}
.content{
    padding-left: 2vw;
}
@media (max-width:1770px){
    .heading{
        flex-direction: column;
    }
}