*{
  margin:0;
  padding:0;
  color: white;
}
.navLinks{
  text-decoration: none;
  color: white !important;
}
.navLinks:hover{
  color:purple !important;
}
body {
  background-image: url("../public/background-image.png");
  background-size: cover;
  background-attachment: fixed;
}

.section{
  margin-left: 12%;
  margin-right: 10%;
}

.card {
  display: block; 
    margin-bottom: 20px;
    margin-left: 20px;
    width: 350px;
    line-height: 1.42857143;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(61, 13, 94, 0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(204, 193, 216, 0.2),0 6px 20px 0 rgba(179, 176, 176, 0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
} 
