*{
  margin:0;
  padding:0;
  color: white;
}
.navLinks{
  text-decoration: none;
  color: white !important;
}
.navLinks:hover{
  color:purple !important;
}
body {
  background-image: url("../public/background-image.png");
  background-size: cover;
  background-attachment: fixed;
}
